 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>This second edition of the Paris-Saclay Junior Conference on Data Science and Engineering is addressed to PhD students in their first year, M2 students and third year students at Engineering schools at University Paris-Saclay. It will offer these students the opportunity to present their scientific works developed at internships, or in the first year of thesis, and also to grow their critical sense thanks to a professional conference hosting prestigious invited speakers, academics and industry scientists.
	      </p>
	      <br>
	      <br>
	      <p>The conference aims at gathering a large public of master and engineering school students and is an excellent means of discovering the research world, especially in the data science and engineering field.
	      </p>
	      <p>
		<i>This year PhD students are also involved in the conference organization as reviewers, session chairs, organizers of networking events [please contact us if you are interested in joining the team]. </i>
	      </p>
	      <br>
	      <p> 
		<li>
		  <a href="https://bigmine.github.io/jDSParis16/#program">Previous year programe</a> 
		</li>
	      </p>    
              
            </div>
        </div>
    </section>

