 <!-- Dates Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>Contributions submission deadline: <b>May 29th 2017</b></p>
              <p>Acceptance notification: <b>June 26th, 2017</b></p>
	      <p>Open registration: <b>June 20th, 2017</b></p>
	      <p>Close registration: <b>mid-July, 2017</b></p>
              <p>Conference: <b>TBC: September 14-15th, 2017</b></p>
            </div>
        </div>
    </section>
