 <!-- Dates Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>Contributions submission deadline: <s>May 29th 2017</s> <b> June 2nd 2017, midnight</b></p>
              <p>Acceptance notification: <b>July 3rd, 2017</b></p>
	      <p>Second call (posters only) - deadline: July 23rd 2017, midnight </p>
	      <p>Registration is open</p>
	      <p>Close registration: <s>July 26th, 2017</s> <b>September 4th, 2017 </b> 
		<br> <i>We know you might be in holidays right now, but the sooner you register the easier it is for us, so please take the time to fill the form!</i></p>
              <p>Conference: <b>September 14-15th, 2017</b></p>
            </div>
        </div>
    </section>
