 <!-- Organizers Section -->
    <section class="success_dark" id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organizers</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
	      <p>Sarah Cohen Boulakia
                <br>
                <small>Chair, Université Paris-Sud, UPsay</small></p>
              <p>Flora Jay
                <br>
                <small> Co chair, Université Paris-Sud, UPsay</small></p>
              <p>Florence d'Alché-Buc
                <br>
                <small>Télécom ParisTech, UPsay</small></p>
              <p>Sylvain Arlot
                <br>
                <small>Université Paris-Sud, UPSay</small></p>
	      <p>Albert Bifet
                <br>
                <small>Télécom ParisTech, UPsay</small></p>
              <p>Joseph Salmon
                <br>
                <small>Télécom-ParisTech, UPsay</small></p>
              <p>Karine Zeitouni
                <br>
                <small>Université de Versailles-Saint-Quentin-en-Yvelines, UPsay</small></p>
              <p>Isabelle Huteau
                  <br>
                  <small>Digicosme</small></p>
            </div>
        </div>
    </section>
  <section class="success_dark" id="pc">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program Committee</h2>
                    <hr>
                </div>
            </div>
            <div class="row">

</p><p>Florence d'Alché-Buc (Télécom ParisTech, LTCI)
</p><p>Alexandre Allauzen (Université Paris-Sud)
</p><p>Sylvain Arlot (Université Paris-Sud, Laboratoire de Mathématiques)
</p><p>Nacera Bennacer (CentraleSupelec)
</p><p>Albert Bifet (Télécom ParisTech, LTCI)
</p><p>Stephan Clémençon (Télécom ParisTech, LTCI)
</p><p>Sarah Cohen Boulakia (Université Paris-Sud, LRI)
</p><p>Arnak Dalalyan (ENSAE ParisTech)
</p><p>Cyril Furtlehner (INRIA, Université Paris-Sud, LRI)
</p><p>Christophe Giraud (Université Paris-Sud, Ecole Polytechnique, CPAM)
</p><p>Alexandre Gramfort (Télécom ParisTech, LTCI)
</p><p>Flora Jay (Université Paris-Sud, LRI)
</p><p>Balazs Kagl (Université Paris-Sud, LAL)
</p><p>Erwan Le Pennec (Ecole Polytechnique, LIX)
</p><p>Silviu Maniu (Université Paris-Sud, LRI)
</p><p>Ioana Manolescu (INRIA, Ecole Polytechnique, LIX)
</p><p>Eric Moulines (Ecole Polytechnique)
</p><p>Nathalie Pernelle (Université Paris-Sud, LRI) 
</p><p>Emmanuel Pietriga (INRIA, Université Paris-Sud, LRI) 
</p><p>Philippe Pucheral (INRIA, UVSQ, DAVID)
</p><p>Joseph Salmon (Télécom ParisTech, LTCI)
</p><p>Fabian Suchanek (Télécom ParisTech, LTCI)
</p><p>Xavier Tannier (Université Paris-Sud, LIMSI)
</p><p>Arthur Tenenhaus (CentraleSupelec)
</p><p>Karine Zeitouni (USVQ, Prism)

<!--
</p><p> Talel Abdessalem (Télécom ParisTech, LTCI)
</p><p> Blaise Hanczar (Université d’Evry)
</p><p> Yohan Petetin (Télécom SudParis)
</p><p> Pierre Senellart (Télécom ParisTech)
</p><p> Fariza Tahi (Université d'Evry)
-->

</p>
            </div>
        </div>
    </section>
